*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .row{
}

.banner_img{
    width: 100%;
    opacity: 1;
    transition: opacity 124ms linear, transform 124ms linear;  
	width: 100%;
	height: auto;
    display: block; 
}
.b1_2{
    max-width: 600px;
    padding: 10px;
} 
.b3{
    max-width: 590px;
    padding-top: 10px;
}
.b4_5{
    max-width: 600px;
    padding: 10px;
}
.b1_2:hover div img{
    transform: scale(1.05);
    transition: 0.5s; 
    overflow: hidden;
} */

/* ------------------------------------------ */
/* .banners{
    display: flex;
    justify-content: space-between;
}
.container_ban{
    max-width: 700px;
}
.b1_2{
    /* display: inline-block; 
    padding: 5px;
}
.b1_2 .con{
    background: #000;  (/* У блока, оборачивающего картинку при наведении будет просвечивать черный фон
    overflow: hidden;  /* Ограничиваем видиую область 
}
.b1_2 .con .banner_img{
    opacity: 1;
    transition: opacity 124ms linear, transform 0.6s linear;  /* Плавное изменение прозрачности и увеличения 
	width: 100%;
    height: auto;
    display: block; /*Убираем полосу под картинкий
}
.b1_2:hover .con .banner_img{
    opacity: 0.9; /* Высветляем картинку, но она становится темнее, так как под ней черный фон 
    transform: scale(1.05); /* Увеличение картинки 
} */
/* ----------------------------------------------------------- */



.brands_container{
    display: flex;
    justify-content: center;
}
.brand{
    width: 270px;
    text-align: center;
}
.brands_img{
    color: #000;
    opacity: 0.8;
}
.brands_img:hover{
    opacity: 3;
    transition: opacity 0.3s linear;
}
.brands_btn{
    align-items: center;
}
i{
    width: 70px;
    margin-top: 30px;
    opacity: 0;
    color: rgb(53, 53, 53);
    align-items: center;
}
.brands_container:hover  .brands_btn i {
    opacity: 1.5;
    font-size: 28px;
    text-align: center;
    transition: 0.4s;

}