<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="fg1.css">
    <title>Dnt</title>
</head>

<body>
    <!-- <div class="banners">
        <div class="b1_2">
            <div>
                <img class="banner_img" src="../site/images/banners/1.jpg" alt="">
            </div>
            <div>
                <img class="banner_img" src="../site/images/banners/2.jpg" alt="">
            </div>
        </div>
        <div class="b3">
            <img class="banner_img" src="../site/images/banners/3.jpg" alt="">
        </div>
        <div class="b4_5">
            <div>
                <img class="banner_img" src="../site/images/banners/4.jpg" alt="">
            </div>
            <div>
                <img class="banner_img" src="../site/images/banners/5.jpg" alt="">
            </div>
        </div>
    </div> -->
    <!-- -------------------------------------------------------------------------------- -->

    <!-- <div class="banners">
        <div class="container_ban">
            <div class="b1_2">
                <div class="con">
                    <img class="banner_img" src="../site/images/banners/1.jpg">
                </div>
            </div>
            <div class="b1_2">
                <div class="con">
                    <img class="banner_img" src="../site/images/banners/2.jpg">
                </div>
            </div>
        </div>
        <div class="b1_2">
            <div class="con">
                <img class="banner_img" src="../site/images/banners/3.jpg" alt="">
            </div>
        </div>
        <div class="container_ban">
            <div class="b1_2">
                <div class="con">
                    <img class="banner_img" src="../site/images/banners/4.jpg">
                </div>
            </div>
            <div class="b1_2">
                <div class="con">
                    <img class="banner_img" src="../site/images/banners/5.jpg">
                </div>
            </div>
        </div>
    </div> -->


    <!-- ------------------------------------------------------------------------------- -->

    <div class="brands_container">
        <div class="brands_btn">
            <a class="brands_btn_link" href="#">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/3.jpg" alt="">
            </a>

        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/4.jpg" alt="">
            </a>
        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/5.jpg" alt="">
            </a>
        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/6.jpg" alt="">
            </a>
        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/7.jpg" alt="">
            </a>
        </div>
        <div class="brand">
            <a href="#">
                <img class="brands_img" src="../site/images/brands/8.jpg" alt="">
            </a>
        </div>
        <div class="brands_btn">
            <a href="#">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>
    </div>







</body>

</html>