<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,100&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style1.css">
    <title>Document</title>
</head>

<body>
    <!-- <div class="products">
        <div class="card">
            <img class="img_card" src="../images/offers/headphons.jpg" alt="">
            <div class="price_card">
                <h3>Nunc Congue</h3>
                <p>$1,700</p>
            </div>
        </div>
        <div class="card">
            <img class="img_card" src="../images/offers/headphons.jpg" alt="">
            <div class="price_card">
                <h3>Nunc Congue</h3>
                <p>$1,700</p>
            </div>
        </div>
        <div class="card">
            <img class="img_card" src="../images/offers/headphons.jpg" alt="">
            <div class="price_card">
                <h3>Nunc Congue</h3>
                <p>$1,700</p>
            </div>
        </div>
        <div class="card">
            <img class="img_card" src="../images/offers/headphons.jpg" alt="">
            <div class="price_card">
                <h3>Nunc Congue</h3>
                <p>$1,700</p>
            </div>
        </div>
    </div> -->


    <!-- -------------------------------------------- -->
    <div class="news_container">
        <div class="news_block">
            <div class="news_card">
                <a href="#">
                    <div class="news_link_img">
                        <img class="news_img" src="../images/news/1.jpg" alt="">
                    </div>
                    <a class="news_img_icon" href="#">
                        <i class="fas fa-search"></i>
                    </a>
                </a>
                <div class="news_content">
                    <h4>
                        <a class="news_title" href="#">Lorem ipsum dolor sit amet</a>
                    </h4>
                    <p class="news_text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa....
                    </p>
                    <div class="news_read-more">
                        <a class="link_read-more" href="#">read more</a>
                    </div>
                </div>
            </div>


            <div class="news_card">
                <a href="#">
                    <div class="news_link_img">
                        <img class="news_img" src="../images/news/1.jpg" alt="">
                        <a class="news_img_icon" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </a>
                <div class="news_content">
                    <h4>
                        <a class="news_title" href="#">Lorem ipsum dolor sit amet</a>
                    </h4>
                    <p class="news_text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa....
                    </p>
                    <div class="news_read-more">
                        <a class="link_read-more" href="#">read more</a>
                    </div>
                </div>
            </div>

            <div class="news_card">
                <a href="#">
                    <div class="news_link_img">
                        <img class="news_img" src="../images/news/1.jpg" alt="">
                        <a class="news_img_icon" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </a>
                <div class="news_content">
                    <h4>
                        <a class="news_title" href="#">Lorem ipsum dolor sit amet</a>
                    </h4>
                    <p class="news_text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean
                        massa....
                    </p>
                    <div class="news_read-more">
                        <a class="link_read-more" href="#">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>